.containerCoronavirus{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}
.containerCoronavirus .covid-image{
    grid-column-start: 1;
    grid-column-end: 7;
}
.containerCoronavirus .covid-text{
    grid-column-start: 7;
    grid-column-end: 13;
    text-align: center;
}
.covid-image img {
    width: 100%;
}
.covid-text h2{
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 18px;
    color: #fa5652;
}
.covid-text h3{
    margin: 0;
    font-size: 25px;
    color: #035755;
}
.covid-text p{
    width: 60%;
    margin: 0 auto;
    margin-top: 18px;
    font-size: 13px;
    color: #4b4f51;
}
.btn-rose {
    margin-top: 25px;
    color: #fa5652;
    background-color: rgba(250, 86, 82, 0.15);
    margin-left: 26%;
}
@media only screen and (max-width: 600px) {
    .containerCoronavirus .covid-image{
        grid-column-start: 1;
        grid-column-end: 13;
    }
    .containerCoronavirus .covid-text{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row: 1;
        text-align: center;
    }
}