.containerPrevention {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}
.containerPrevention > .PreventionText {
    grid-column: 1/1;
    width: 100%;
    text-align: center;
}
.containerShould >.shouldPrevention,
.containerShould > .item1,
.containerShould > .item2 {
    border: 1px solid black;
}
.PreventionText h2{
    margin-top: 80px;
    font-size: 18px;
    color: #fa5652;
}
.PreventionText h3{
    font-size: 25px;
    color: #035755;
}
.PreventionText p{
    font-size: 13px;
    color: #4b4f51;
}