.containerHeader {
    display: grid;
    margin-top: 33px;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.containerHeader .nav{
    grid-column: 2/4;
}
.logo {
    float: left;
}
.logo img {
    display: block;
    width: 190.7px;
}
.menu {
    float: right;    
}
.menu ul {
    line-height: 33px;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}
.menu a {
    text-decoration: none; 
    color: #035755;
    font-size: 18px;
    transition: 400ms all;  
    font-weight: bold;
}
.menu a:hover {
    color:  #fb4c47;
}
@media only screen and (max-width: 600px) {
    .containerHeader .nav{
        grid-column: 1/4;
    } 
    .containerHeader .logo{
        grid-column: 1/4;
    } 
    .logo{
        display: flex;
        justify-content: center;
    }
    .menu ul li{
        list-style: none;
        display: block;
        margin-right: 40px;
    }
    .menu {
        float: none;
        display: flex;
        justify-content: center;  
        align-items: center;
    }
}