.containerHeader {
    display: grid;
    margin-top: 33px;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.containerHeader > .logo,
.containerHeader > .nav {
    border: 1px solid black;
}
.logo {
    float: left;
}
.logo img {
    display: block;
    width: 190.7px;
}
.menu {
    float: right;    
}
.menu ul {
    line-height: 33px;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}
.menu a {
    text-decoration: none; 
    color: #035755;
    font-size: 18px;
    transition: 400ms all;  
    font-weight: bold;
}
.menu a:hover {
    color:  #fb4c47;
}